body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #090707;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #353537;
    color: #fff;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00326f;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
